Flask==1.1.2
SQLAlchemy < 1.4.0
flask_sqlalchemy
PyMySql
sqlalchemy_utils
flask_jwt_extended
cryptography
redis
flask_migrate==2.6.0
flask_script==2.0.6
Jinja2==3.0.3
itsdangerous==2.0.1
werkzeug==2.0.3